body {
	background-color: #f5f5f5;
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Quattrocento Sans', sans-serif;
}

/* Landing Page */
#myJumbotron {
	padding-top: 10vh;
	padding-left: 0;
  min-height: 100vh;

  background-color: #f5f5f5;
  color: #1f2f40;
}
#profilePicture {
	margin-bottom: 20px;
}
#shortcuts {
	margin-top: 40px;
	max-width: 700px;
	margin-bottom: 20px;
}
#imgShortcuts {
	width: 50px;
}
#needToAlign {
	margin-top: 15px;
}
.h7 {
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	color: #d8cb2c;
	/*color: #ffee00;*/
}
.jumboText {
	color: #cfdbd5;
}

/* Navbar */
.bg-light {
	background-color: #ffffff !important;
}
#copyright {
	color: lightgrey;
	opacity: 0.8;
}
.navbar {
	padding-right: 3rem;
	padding-left: 3rem;
}
.navBarToHide {

}

/* Down Button */
#downSection {
	opacity: 0.5;
}
#downSection:hover {
	opacity: 1;
}
/* To Top Button */
#boxOfButton {
	padding-bottom: 10px; 
}
#toTopButton {
	display: none;
	opacity: 0.5
}
#toTopButton:hover {
	width: 60px;
	opacity: 1;
}

/* Sections */
.teile {
	background-color: #f5f5f5;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 60px;
}
@media (min-width: 1200px) {
	.teile {
		margin-right: 0%; 
		margin-left: 0%;
	}
	.youLink {
		max-width: 350px;
	}
}
.iconForIT {
	width: 60px;
}
.rows {
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 30px;
}
.textAfterIcon {
	margin-top: 15px;
	margin-left: 50px;
	line-height: 25px;
}
/*.breakLine {
	margin-left: 5%;
	margin-right: 5%;
}*/

/*Portfolio*/
.secTitle{
	margin-top: 100px;
}
.lebenslauf {
	margin-top: 150px;
}
.portSection {
	background-color: #ffffff;
	margin-top: 50px;
	padding-top: 50px;
}
.imageDes { 
	padding-top: 10px;
}
.descript {
	margin-top: 20px;
	margin-right: 0px;
	padding-right: 0px;
}
.descript p {
	max-width: 350px;
	color: black;
	/*font-weight: bold;*/
	font-style: italic;
}

/*TOURNAMENT TRACKER*/
.projectText {
	padding-right: 50px;
}

.tourImg {
	width: 80px;
	opacity: 0.7;
}
.tourImg:hover {
	opacity: 1;
	background-color: white;
}
.tourImgSm {
	width: 300px;
}
.expandedContainer {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
}
.expandedContainer div {
	max-width: 80%;
	background-color: #1f2f40;
	color: white;
}
.closebtn {
	position: absolute;
	left: 87%;
	bottom: 87.5%;
	color: white;
	font-size: 40px;
	opacity: 0.8;
	cursor: pointer;
}
.youLink {
	width: 60%;
}

#rayTracing {
	margin-bottom: 50px;
}


/*				SKILL BARS			*/
.w-100 {
	margin-bottom:10px !important;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.skillBar {
  width: 70%; /* Full width */
  background-color: #fcfcc8; /* Grey background */
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.skills {
  text-align: left; /* Right-align text */
  padding-top: 0px; /* Add top padding */
  padding-bottom: 0px; /* Add bottom padding */
  padding-left: 10px;
  color: black; /* White text color */
  height: 100%;
  font-size: 0.8rem;
  background-color: #ffee32;
}

.cSharp {width: 90%} 
.cPlus {width: 95%} 
.py {width: 85%} 
.oop {width: 75%}
.entity {width: 70%}
.mvc {width: 80%}
.htmlCss {width: 60%}
.bootStrap {width: 50%}
.jScript {width: 70%}
.gitHub {width: 80%}
.openCv {width: 85%}
.openCl {width: 70%}

.linkGit {
	font-size: 1.0rem;
	font-weight: 400;
	color: #d8cb2c;
}
a {
	color: #d8cb2c;
}

.lebenTitle {
	margin-bottom: 40px;
}