body {
	background-color: #ffffff;
	font-family: 'Oswald', sans-serif;
}

/* Landing Page */
#myJumbotron {
	padding-top: 20vh;
    min-height: 100vh;

    background-color: #c2ced7;
    color: #1f2f40;
}
#profilePicture {
	margin-bottom: 20px;
}
#shortcuts {
	margin-top: 40px;
	max-width: 700px;
	margin-bottom: 20px;
}
#imgShortcuts {
	width: 50px;
}
#needToAlign {
	margin-top: 15px;
}
.h7 {
	font-size: 1.0em;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

/* Navbar */
.bg-dark {
	background-color: #1f2f40 !important;
}
#copyright {
	color: white;
	opacity: 0.8;
}

/* Down Button */
#downSection {
	opacity: 0.5;
}
#downSection:hover {
	opacity: 1;
}
/* To Top Button */
#boxOfButton {
	padding-bottom: 10px; 
}
#toTopButton {
	display: none;
	opacity: 0.5
}
#toTopButton:hover {
	width: 60px;
	opacity: 1;
}

/* Sections */
.teile {
	background-color: #c2ced7;
	margin-top: 50px;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 1200px) {
	.teile {
		margin-right: 15%; 
		margin-left: 15%;
	}
	.youLink {
		max-width: 350px;
	}
}
.iconForIT {
	width: 60px;
}
.rows {
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 30px;
}
.textAfterIcon {
	margin-top: 15px;
	margin-left: 50px;
	line-height: 25px;
}

/*Portfolio*/
.portSection {
	background-color: #f5f5f5;
	margin-top: 50px;
	padding-top: 50px;
}
.imageDes { 
	padding-top: 10px;
}
.descript {
	margin-top: 20px;
	margin-right: 0px;
	padding-right: 0px;
}
.descript p {
	max-width: 350px;
	color: black;
	font-weight: bold;
	font-style: italic;
}

/*TOURNAMENT TRACKER*/
.tourImg {
	width: 150px;
	opacity: 0.7;
}
.tourImg:hover {
	opacity: 1;
	background-color: white;
}
.tourImgSm {
	width: 300px;
}
.expandedContainer {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
}
.expandedContainer div {
	max-width: 85%;
	background-color: #1f2f40;
	color: white;
}
.closebtn {
	position: absolute;
	left: 91%;
	bottom: 93.5%;
	color: white;
	font-size: 40px;
	opacity: 0.8;
	cursor: pointer;
}
.youLink {
	width: 60%;
}

#rayTracing {
	margin-bottom: 50px;
}